{
	"env": {
		"browser": true,
		"es6": true,
		"node": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"prettier/@typescript-eslint",
		"plugin:prettier/recommended"
	],
	"globals": {
		"Atomics": "readonly",
		"SharedArrayBuffer": "readonly"
	},
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 2018,
		"sourceType": "module"
	},
	"plugins": ["react", "react-hooks", "prettier", "@typescript-eslint"],
	"settings": {
		"import/extensions": [".js", ".jsx", ".ts", ".tsx"],
		"import/parsers": {
			"@typescript-eslint/parser": [".ts", ".tsx"]
		},
		"import/resolver": {
			"typescript": {
				"directory": "./tsconfig.json"
			},
			"node": {
				"extensions": [".js", ".jsx", ".ts", ".tsx"]
			}
		},
		"rules": {
			"prettier/prettier": "warn",
			"react/jsx-no-undef": "off",
			"react-hooks/rules-of-hooks": "error",
			"react-hooks/exhaustive-deps": "error",
			"react/jsx-filename-extension": [1, { "extensions": [".tsx"] }],
			"import/extensions": [
				"error",
				"ignorePackages",
				{
					"ts": "never",
					"tsx": "never"
				}
			],
			"import/prefer-default-export": "off",
			"camelcase": "off",
			"@typescript-eslint/ban-types": "off",
			"no-use-before-define": "off",
			"indent": ["error", "tab"],
			"linebreak-style": ["error", "unix"],
			"quotes": ["error", "single"]
		}
	}
}
